@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-gray:#f2f3f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-gray:#f2f3f8
  }
}

body {
  background: var(--bg-gray);
  color: var(--foreground);
}

.custom-container{
  padding-inline: calc(15px + 145 * (100vw - 320px) / 1600);
}
.main-header{
  padding-block: calc(10px + 5 * (100vw - 320px) / 1600);
}
.main-side-bar{
  .MuiCollapse-root{
    max-height: 240px;
    overflow-y: auto;
    .MuiTypography-root{
      width: 100%;
    }
  };
}
.products-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}